<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Report</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Report</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="report-container">
    <h2>API Report</h2>
    <!-- Gráfico de barras -->
    <div class="chart-container">
      <canvas id="barChart"></canvas>
    </div>
    <!-- Gráfico de líneas -->
    <div class="chart-container">
      <canvas id="lineChart"></canvas>
    </div>
    <!-- Gráfico de tarta -->
    <div class="chart-container">
      <canvas id="pieChart"></canvas>
    </div>
    <!-- Botón para generar PDF -->
    <ion-button expand="full" color="primary" (click)="generatePDF()"> PDFan Deskargatu</ion-button>
  </div>
</ion-content>
