/* Estilo para los gráficos */
.chart {
  width: 100% !important;
  max-width: 400px;
  height: 250px;
  margin: 10px auto;
}

/* Estilo para el botón */
.download-button {
  margin-top: 20px; /* Separación desde los gráficos */
  font-weight: bold; /* Hacer el texto más visible */
  text-transform: uppercase; /* Texto en mayúsculas */
}
